<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860708555739-9aoci6uonlt3ltc4pfgmc9cnh2kphdmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860708555739-9aoci6uonlt3ltc4pfgmc9cnh2kphdmp</string>
	<key>API_KEY</key>
	<string>AIzaSyADkEXz3O8r_NaR6Q52kz-8OcsJHL8IIHA</string>
	<key>GCM_SENDER_ID</key>
	<string>860708555739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiSocialMediaFlutter</string>
	<key>PROJECT_ID</key>
	<string>ai-social-media-45005</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-social-media-45005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860708555739:ios:0f9183c12262dcedf935fe</string>
</dict>
</plist>